body {
    /* background-color: yellowgreen;  */
}

main {
    /**/
    /* max-width: 960px; */
}

.input {
    display: none;
}

 .slick-list {
    margin: 0 150px;
  }

.slick-slider img {
    width: 140px;
}